from operator import sub

print('{:=^40}'.format('LOJAS DENISE MANUELE MORINI'))

# 1.	Entre com o valor unitário do produto (Lembrar que número decimal é feito com ponto e não vírgula);
preco = float(input('Entre com o valor do produto :'))

# 2.	Entre com a quantidade desse produto;
qtd = int(input('Entre com o valor do quantidade :'))


# 3.	O programa deve retornar o valor total sem desconto;

if(qtd <= 9):
    pagar = (preco * 0 / 100)
    print('Voce comprou {}.Seu desconto foi de : R% {}'.format(preco, pagar))

# 4.	O programa deve retornar o valor total após o desconto;
# 5.	Deve-se utilizar estruturas if, elif e else (EXIGÊNCIA 1 de 1);
# 6.	Colocar um exemplo de SAIDA DE CONSOLE de compra de mais de 10 und. (para mostrar que o desconto foi aplicado)
else:
    if(qtd >= 10 and qtd <= 99):
        total = preco * qtd
        pagar = total - (total * 5 / 100)
        print('O valor sem desconto foi : R$ {:.2f}'.format(total))
        print('O valor com desconto foi : R$ {:.2f}  Desconto 5%'.format(pagar))
    else:
        if (qtd >= 100 and qtd <= 999):
            total = preco * qtd
            pagar = total - (total * 10 / 100)
            print('O valor sem desconto foi : R$ {:.2f}'.format(total))
            print('O valor com desconto foi : R$ {:.2f}  Desconto 10%'.format( pagar))

        else:
            total = preco * qtd
            pagar = total - (total * 15 / 100)
            print('O valor sem desconto foi : R$ {:.2f}'.format(total))
            print('O valor com desconto foi : R$ {:.2f} Desconto 15%'.format( pagar))







# desconto = preco * (qtd / 100)
# final = preco - desconto

# print('O valor sem desconto foi :{}'.format(preco, qtd))
# print('O valor com desconto foi :{}.Valor final do produto: {}'.format(desconto, final))
